<!-- Services -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">Discover everything we have to offer.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="service-heading">E-Commerce</h4>
                <p class="text-muted">We sell top of the line music and recording equipment. Please visit our online shop to browse some of our
                    products.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="service-heading">Technological Advantage</h4>
                <p class="text-muted">Here at studio B we only use state of the art technology and equipment to ensure the success of our business;
                    as well as, the excitement of the customers.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
                <h4 class="service-heading">Web Security</h4>
                <p class="text-muted">Consumers can feel secure when using our studio with not only their payment and personal information, but
                    also their creations.</p>
            </div>
        </div>
    </div>
</section>